@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin:0
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

li img{
    height: 150px;

}
li{
    margin-left:12px;
    font-weight: bolder;
}
li a{
    text-decoration: none;
    color: black;

}


.line{
    color:rgb(180,145,202) ;
}
.bottomContainer{
    margin-top: 10px;
    background-color: rgb(180,145,202);
    border-radius: 30px;
    color: white;
    padding-top: 12px;
    
}

li.login{
    
}

.container{
    display: flex;
    align-items: center;
    margin-left: 15px;
    align-content: space-between;
}

.subImage img{
    height: 450px;
    border-radius: 300px;
    margin-left: 50%;
}

.healthTips{
    margin-left: 12px;
}

.meditation{
    margin-left: 32px;
    margin-top: 12px;
    text-align: center;
}
.meditation h1{
    text-align: left;
}
.meditation p{
    text-align: left;
}
.meditation img{
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
    width:300px;
    height:200px;
}



.sports{
    margin-left: 32px;
    margin-top: 12px;
    text-align: center;
    padding-bottom: 12px;
}

.sports h1{
    text-align: left;
}
.sports p{
    text-align: left;
}
.sports img{
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
    width:300px;
    height:200px;
}

.diet{
    margin-left: 32px;
    margin-top: 12px;
    text-align: center;
}

.diet h1{
    text-align: left;
}
.diet p{
    text-align: left;
}
.diet img{
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
    width:300px;
    height:200px;
}

.footer{
    margin-top: 12px;
    background-color:rgb(180,145,202);
    
}
.footer{
    text-align: center;
    padding-bottom: 8px;
    border-radius: 5px;
    padding-top: 12px;
}
#email{
    border-radius: 10px;
    border-color: azure;
}
#button{
    background-color:rgb(180,145,202);
    border-color: azure;
    border-radius: 9px;
}




@media (max-width:747px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .subImage img{
        height: 400px;
        border-radius: 300px;
        margin-left: 5px;
    }
    
}
@media (max-width: 1124px)and (min-width:748px){

    .subImage img{
        height: 400px;
        border-radius: 300px;
        margin-left: 5px;
    }
}